//Colors
:root {
    --green: rgb(20, 159, 109);
    --ligthGreen: #CCF7EC;
    --red: rgb(251, 74, 82);
    --ligthRed: #FFE0E0;
    --yellow: rgb(255, 255, 11);
    --grey: #6B7280;
    --dark: #111928;
    --white: #fff;
}

.toast {
  padding: 16px 48px 16px 16px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  max-width: 375px;
  box-sizing: border-box;
  display: flex;
  column-gap: 10px;

  &.success {
    color: var(--green);
    border: 1px solid var(--green);

    .btn, .btn:hover {
      background-color: var(--green);
    }

    .imgWrapper {
      background-color: var(--ligthGreen);
    }
  }

  &.error {
    color: var(--red);
    border: 1px solid var(--red);

    .btn, .btn:hover {
      background-color: var(--red);
    }

    .imgWrapper {
      background-color: var(--ligthRed);
    }
  }

  &.avatar {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    color: var(--grey);

    .textSection .title {
      color: var(--dark);
    }

    .btn, .btn:hover {
      background-color: var(--yellow);
      color: var(--dark);
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }

  .textSection {
    display: flex;
    column-gap: 10px;
    align-items: center;

    .title {
      font-weight: 600;
      font-size: 16px;
    }

    .text {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    align-self: start;
  }

  .btn {
    border-radius: 16px;
    border: 1px solid var(--dark);
    width: max-content;
    text-transform: unset;
    &:hover {
      opacity: 0.8;
    }
  }

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
  }

  @media (min-width: 768px) {
    max-width: 640px;
  }
}
